body
{
}


#lft
{ position:absolute;
 width:33%; 
 height:100%;
  top:-1px;
 left:-1px; 
  text-align:center;
  background:linear-gradient(#f4f,#4ff);
  
}

#cnt
{ position:absolute;
 width:33%; 
 height:100%;
  top:-1px;
  left:32%;
    text-align:center;   
  background:linear-gradient(#f4f,#4ff);  
}

#rght
{ position:absolute;
 width:35%; 
 height:100%;
  top:-1px;
  left:65%;
    text-align;   
  background:linear-gradient(135deg,#f4f,#4ff);  
 
}

#idclc
{
 z-index:;
 animation: c 5s infinite;	
 font-size:2em;	
 width:;
}
#idexclc
{
	z-index:2;
 animation: e 3s infinite;	
 font-size:2em;	
}
#idrnr
{
 animation:  5s infinite;	
 font-size:2em;	
}
#idmv
{
 animation:  4s infinite;	
 font-size:2em;	
}
#idtt
{
 animation: tt 6s infinite;	
 font-size:2em;	
}
#idim
{
 font-size:2em;		
	z-index:4;
}
#idmrs
{
 font-size:2em;		
	z-index:4;
	animation:mrs  5s infinite;
}

#idbust
{
	width:22%;
	height:22%;
	left:-1px;
	 	 
}
#idfish
{
  width:33%;
  height:22%;	
	animation:  3s infinite;	 
}
#idtnr
{
  width:33%;
  height:22%;	
	animation:  4s infinite;	 
}
#idhorror
{
  width:33%;
  height:22%;	
	animation:  3s infinite;	 
}
#idglory
{
  width:33%;
  height:22%;	
	animation:  4s infinite;	 
}
#idsword
{
  width:33%;
  height:22%;	
	animation:  3s infinite;	 
}
#idfire
{
  width:33%;
  height:22%;	
	animation:  4s infinite;	 
}

@keyframes c
{
 0%{width:3%; color:green; }
  22%{width:55%; color:red; }
  99%{width:22%; color:yellow; } 
 }
@keyframes e
{
 0%{color:red; }
  44%{; color:green; } 
  99%{  color:yellow; }
 }
@keyframes mrs
{
 0%{  color:red; }
  66%{; color:yellow; } 
  99%{ color:green; }
 }
@keyframes mv
{
 0%{; }
  55%{; color:brown; } 
  99%{; }
 }
@keyframes tt
{
 0%{ }
  33%{ ; color:orange; } 
  99%{; }
 }



