body
{
}


#lft
{ position:absolute;
 width:33%; 
 height:100%;
  top:-1px;
 left:-1px; 
  text-align:center;
  background:linear-gradient(#f4f,#4ff);
  
}

#cnt
{ position:absolute;
 width:33%; 
 height:100%;
  top:-1px;
  left:32%;
    text-align:center;   
  background:linear-gradient(#f4f,#4ff);  
}

#rght
{ position:absolute;
 width:35%; 
 height:100%;
  top:-1px;
  left:65%;
    text-align;   
  background:linear-gradient(135deg,#f4f,#4ff);  
 
}

#idclc
{
 animation: c 5s infinite;	
 font-size:2em;	
}
#idexclc
{
 animation: e 5s infinite;	
 font-size:2em;	
}
#idrnr
{
 animation: r 5s infinite;	
 font-size:2em;	
}
#idmv
{
 animation: mv 5s infinite;	
 font-size:2em;	
}
#idtt
{
 animation: tt 5s infinite;	
 font-size:2em;	
}
#idim
{
 font-size:2em;		
	z-index:4;
}
#idbust
{
	width:22%;
	height:22%;
	left:-1px;
	 animation: bst 5s infinite;	 
}
#idfish
{
  width:33%;
  height:22%;	
	animation: bst 3s infinite;	 
}

@keyframes c
{
 0%{font-size:2em; }
  22%{font-size:3em; color:green; }
  99%{font-size:2em; } 
 }
@keyframes e
{
 0%{font-size:2em; }
  44%{font-size:3em; color:red; } 
  99%{font-size:2em; }
 }
@keyframes r
{
 0%{font-size:2em; }
  66%{font-size:3em; color:yellow; } 
  99%{font-size:2em; }
 }
@keyframes mv
{
 0%{font-size:2em; }
  55%{font-size:3em; color:brown; } 
  99%{font-size:2em; }
 }
@keyframes tt
{
 0%{font-size:2em; }
  33%{font-size:3em; color:orange; } 
  99%{font-size:2em; }
 }
@keyframes bst
{
 0%{width:22%; height:22%; }
  44%{width:28%; height:26%; } 
  99%{width:22%; height:22%; }
 }




