body
{
}

header
{ 
 position:absolute;
 height:6%;
 width:100%; 
 background:red;
 padding:3px;
 text-align:center; 

 
}

footer
{ position:absolute;
 background:yellow;
 width:100%;
 height:6%;
 bottom:1%;
 text-align:center;
 
 float:top;
}

#lft
{ position:absolute;
 width:33%; 
 height:86%;
  top:8%;
  padding-top;  
   left:0;
  text-align:center;
  background;
  
}

#cnt
{ position:absolute;
 width:33%; 
 height:86%;
  top:8%;
  left:33%;   
 text-align:center;   
  
   
}

#fld
{
 position:absolute;	
  background-image:url(pics/profile.png);   
   background-size:100% 67%;
   background-repeat:no-repeat;	
   width:99px;
   height:188px;
   top:44%;
   left:44%;
   
   
}

